{% extends "learning_logs/base.html" %} {% block page_header %}
<h3>
  {{ topic }}
  <small class="float-right">
    <a href="{% url 'learning_logs:delete_topic' topic.id %}">delete</a>
  </small>
</h3>
{% endblock page_header %} {% block content %}
<p><a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry</a></p>
{% for entry in entries %}
<div class="card mb-3">
  <h4 class="card-header">
    {{ entry.date_added|date:'M d, Y H:i' }}
    <div class="float-right">
      <small>
        <a href="{% url 'learning_logs:edit_entry' entry.id %}">edit</a>
      </small>|
      <small>
        <a href="{% url 'learning_logs:delete_entry' entry.id %}">delete</a>
      </small>
  </div>
  </h4>
  <div class="card-body">{{ entry.text }}</div>
</div>
{% empty %}
<p>There are no entries for this topic yet.</p>
{% endfor %} {% endblock content %}
